In [ ]:
# Caso não tenha instalado o pandas na sua máquina, basta rodar essa linha de codigo:
#####################################################################################
!pip install pandas
############################## Caso ja tenha, pule ##################################

In [3]:
# assim importamos uma biblioteca  "import <nome da lib> as <"apelido para ela">"
import pandas as pd

# Uma pequena introdução ao _Pandas_

O pandas é uma biblioteca muito útil, nela temos métodos de leitura, tratamento, limpeza e transformação dos dados implementados, além de métodos para visualização gráfica que usam como base o _Matplotlib_. Dentro da biblioteca, podemos definir dois grandes objetos:

- Series:
    - Basicamente uma coluna.
- DataFrame:
    - É um conjunto de series, em cada coluna, ou seja, um tabela multidimensional.

A biblioteca é muito ampla, possuindo muitos métodos implementados, vale a pena dar uma lida na documentação. Neste material vamos utilziar o famoso banco de dados _iris_ para praticar a biblioteca e alguns métodos, não todos, por ser um núero bem grande. Vamos aprender a importar os dados primeiro:

## Importação dos dados

Para leituras de dados, temos os seguintes métodos:

- pd.read_csv() : Para leitura de .csv, mais comum para armazenar tabelas;
- pd.read_xlsx(): Para leitura de arquivos .xlsx;
- pd.read_html(): Para leitura de tabelas diretas de websites.

Olhe a sintaxe para a leitura dos dados (o index_col informa qual coluna será tratada com indice):

In [11]:
url = 'data\\iris.csv' # diretorio aonde esta o arquivo .csv
df_iris = pd.read_csv(url,index_col=0) # armazenando em um objeto o pandas.DataFrame

In [16]:
df_iris.head() # Vamos usar o método .head() do pandas.DataFrame para visualizar as 5 primeiras instancias do meu banco
# caso nao queiramos os 5 primeiros, e sim os 10 primeiros, podemos apenas informar no metodo o numero que eu quero, 
# so passar .head(<numero que voce quer>)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [17]:
# da mesma forma que o .head(), o .tail() exibe os 5 ultimos do meu banco de dados
df_iris.tail() # também como o .head(), voce pode informar quantos ultimos voce quer ver

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

Vamos selecionar uma coluna desse data frame, vamos pegar o "target":

In [23]:
df_iris['target'] # ou simplesmente df_iris.target, também serve

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int64

Como foi dito, um pandas dataframe é um conjunto de series, fazendo uma tabela multidimensional. Para confirmar isso, vamos pegar a coluna target novamente, e verificar o tipo dela

In [26]:
type(df_iris.target) # perceba que é uma pandas serie

pandas.core.series.Series

Vamos pegar algumas informações importantes do banco agora, utilizando os métodos .info() e .describe() e .shape() (para saber a dimensionalidade do banco), sendo o ultimo com algumas estatística sobre o banco

In [30]:
df_iris.info() # perceba que temos 4 variaveis do tipo float, e uma inteira

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal length (cm)    150 non-null float64
sepal width (cm)     150 non-null float64
petal length (cm)    150 non-null float64
petal width (cm)     150 non-null float64
target               150 non-null int64
dtypes: float64(4), int64(1)
memory usage: 12.0 KB

In [32]:
df_iris.describe() # aqui temos algumas estatísticas bem importantes com relação aos dados

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [61]:
df_iris.shape

(150, 6)

Caso seja conveniente, podemos ordenar os valores de um banco de dados tomando como base uma coluna

In [36]:
df_iris.sort_values('target',ascending=False) # ordenando de forma decrescente, caso queira crescente, o método ja faz por default, não precisa                                                # usar o ascending

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
149,5.9,3.0,5.1,1.8,2
111,6.4,2.7,5.3,1.9,2
122,7.7,2.8,6.7,2.0,2
121,5.6,2.8,4.9,2.0,2
120,6.9,3.2,5.7,2.3,2
...,...,...,...,...,...
31,5.4,3.4,1.5,0.4,0
30,4.8,3.1,1.6,0.2,0
29,4.7,3.2,1.6,0.2,0
28,5.2,3.4,1.4,0.2,0
0,5.1,3.5,1.4,0.2,0

Além de ordenarmos dessa forma, podemos ordenar por meio dos indices das linhas, utilizando o método .sort_index()

In [39]:
df_iris.sort_index(ascending=False)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
149,5.9,3.0,5.1,1.8,2
148,6.2,3.4,5.4,2.3,2
147,6.5,3.0,5.2,2.0,2
146,6.3,2.5,5.0,1.9,2
145,6.7,3.0,5.2,2.3,2
...,...,...,...,...,...
4,5.0,3.6,1.4,0.2,0
3,4.6,3.1,1.5,0.2,0
2,4.7,3.2,1.3,0.2,0
1,4.9,3.0,1.4,0.2,0
0,5.1,3.5,1.4,0.2,0

E se quisermos adicionar mais colunas no dataframe ? é bem simples, olha um exemplo:

In [41]:
df_iris['example'] = 0 # estou adicionando uma coluna de Zeros no data Frame

In [45]:
# Vamos acessar algum valor dentro do dataframe agora
df_iris.iloc[0,1] # Usamos o iloc para acessar pelo numero referente a linha e a coluna. Por sintaxe, temos que [linhas, colunas]

3.5

In [47]:
# Também podemos pegar um intervalo de valores no meu dataframe, ou ate mesmo um sub dataframe dentro dele
df_iris.iloc[:3,:5] # Usando o : podemos informar um intervalo para acessar dentro do dataframe

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0

Vamos substituir algum valor dentro do dataframe

In [53]:
df_iris.iloc[1,5] = 3 # adicionando um 3 na coordenada [1,5] do meu dataframe
df_iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,example
0,5.1,3.5,1.4,0.2,0,0
1,4.9,3.0,1.4,0.2,0,3
2,4.7,3.2,1.3,0.2,0,0
3,4.6,3.1,1.5,0.2,0,0
4,5.0,3.6,1.4,0.2,0,0

Também podemos impor condições utilizando operadores logicos para selecionar algo dentro do dataframe, por exemplo, queremos pegar todoas as linhas onde o exemplo é igual a 3

In [55]:
df_iris[df_iris['example'] == 3]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,example
1,4.9,3.0,1.4,0.2,0,3

In [57]:
# Ou queremos pegar todas as linhas que o target é igual a 2
df_iris[df_iris['target'] == 2].head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,example
100,6.3,3.3,6.0,2.5,2,0
101,5.8,2.7,5.1,1.9,2,0
102,7.1,3.0,5.9,2.1,2,0
103,6.3,2.9,5.6,1.8,2,0
104,6.5,3.0,5.8,2.2,2,0

Vamos retirar agora a coluna example desse dataframe, utilizando o método .drop()

In [59]:
df_iris.drop(['example'],axis=1,inplace = False) # perceba que informo axis = 1, significa que quero dropar nas colunas, a que possui o nome 'example'
                                 # Caso queiramos alterar internamente de df_iris, basta usar o inplace = True

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2